<html>
  <head>
    <title>Perfiles</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1 id="page-heading">Perfiles</h1>

    <div class="controls">
      <button id="perfil1" type="button">Peliculas 1</button>
      <button id="perfil2" type="button">Series 2</button>
    </div>

    <script type="text/javascript">
      document.getElementById("perfil1").onclick = function () {
        location.href = "./peliculas.html";
      };
      document.getElementById("perfil2").onclick = function () {
        location.href = "./series.html";
      };
    </script>
  </body>
</html>
