body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfd4b6; 
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.emBtn{
  margin: 3.5rem;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #FF5959;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;  
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dfe1e1;
}

h3{
  float: left;
}

.vetInfo{
  height: 40vmin;
  width: 15vmin;
  border: 5px;
  border-color: #dfe1e1;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color:#dfe1e1;
  /* background-color:#B0D58E; */
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
/* .header a.logo { */
.header h1.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #B58ED5;
  /* background-color: #ea9a64; */
  color: black;
}

/* Style the active/current link*/
/* .header a.active { */

.header .active a {
  border-radius: 4px;
  background-color: #FF5959;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.option {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}

.displayInfo{
  height: 80vmin;
  width: 20vmax;
  background-color: #ea9a64;
  border-radius: 15px;
  border-width: 10px;
  border-color: white;
  margin: 2vmin;  
  padding: 1%;
  float: left;
}

.displayMap{
  height: 80vmin;
  width: 70vmax;
  background-color: #B58ED5;
  border-radius: 15px;
  border-width: 10px;
  border-color: white;
  margin: 2vmin;
  padding: 1%;
  float: right;
}